* {
  box-sizing: border-box;
  transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

:root {
  --sidebar_size: 350px;
  --primary: red;
  --bg: #262626;
  --text_color: white;
  --switch_off: white;
  --switch_on: var(--primary);
  --button-width: 10vw;
  --button-height: 50px;
  --responsive-size: 968px;
  --header-height: 50px;
  --icon-dim: 16px;
}

body { margin: 0px; }

html {
  font-family: "Source Code Pro", "Sans";
  background: linear-gradient(#eef2f3, #8e9eab);
  height: 100%;
  color: var(--bg)
}

h1 { font-family: "Orbitron", "Source Code Pro","Sans"; } 



@media only screen and (max-width: 968px) {
  
  html {
    background-color: var(--fg);
    color: var(--bg);
  }

  [class*="paragraph"] {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  #viz_container {
    display: none !important;
  }

  .tracklist_header {
    display: none;
  }

  .loading_screen {
    visibility: hidden !important;
  }


  .sidebar {
    width: 100vw !important;
    margin-top: 98vh;
    font-size: unset !important;
  }

  .sidebar a {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .song_container {
    display: grid;
    grid-template-columns: 5% 75% 20%;
    background-color: var(--secondary);
  }

  .fx_button {
    width: 45vw !important;
    height: 10vh !important;
    font-size: 1.5rem;
    line-height: 10vh !important;
  }

  .song_title {
    color: red !important;
  }

  object {
    display: none !important;
  }


  .scrollDown {
    width: 45vw !important;
    height: 20vh !important;
  }

  .grid_container {
    display: grid !important;
    position: unset !important;
    transform: unset !important;
    grid-template-columns: repeat(2, 1fr) !important;
    margin-top: 0px !important;
  }

  .info_menu {
    display: none !important;
  }

  .rockr_header {
    display: none !important;
  }


  .rockr_footer {
    display: none !important;
  }
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future_kante {
  border: 1px solid var(--fg);
}

.sidebar {
  left: 3%;
  /* top: var(--header-height); */
  top: 20%;
  width: var(--sidebar_size);
  position: absolute;
  font-size: small;
  backdrop-filter: blur(20px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: none none;
  height: 75vh;
  /* border-right: 1px solid white; */
}


/* Sidebar links */
.sidebar a {
  display: block;
  padding: 5px;
  text-decoration: none;
  font-family: "Source Code Pro", "Sans serif";
  /* border-bottom: 1px solid white; */
}

/* Active/current link */
.active_song {
 background-color: var(--primary);
 color: var(--bg);
}

.progress_bar {
  background-color: var(--bg);
  /*animation: progress linear infinite;
  animation-duration: 5s; */
  height: 10px;
  min-width: 100%;
}

.progress_bar_inside {
  background-color: var(--primary);
  height: 10px;
}

@keyframes progress {
  from { min-width: 0vw; }
  to { min-width: 100vw; }
}

.text_centered {
  text-align: center;
  line-height: var(--button-height);
}

.fx_button {
  clip-path: polygon(7.7% 0%, 94.3% 0%, 100% 13.5%, 100% 100%, 93% 100%, 7% 100%, 0% 80.1%, 0% 0%);
  width: var(--button-width);
  height: var(--button-height);
  cursor: crosshair;
  background-color: var(--bg);
  color: var(--fg);
  text-align: center;
  margin-inline-start: 12px;
}

.underline {
  content: "";
  margin: auto;
  margin-top: 7px;
  border-bottom: 2px solid var(--fg);
  width: 67%;
}


.scrollDown {
  width: var(--button-width);
  height: var(--button-height);
}


.grid_container {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}
.underlined {
  display: inline;
  text-decoration: underline;
}

.rockr_header {
  position: absolute;
  z-index: 1;
  top: 0%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.rockr_header > * {
  width: 10%;
  height: var(--header-height);
  line-height: var(--header-height);
}

.rockr_header > .button {
  text-align: left;
  padding-left: 25px;
}

.rockr_footer {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 15px;
}

.rockr_footer > *, .rockr_footer > * > * {
  height: calc(var(--button-height) - 15px);
  font-family: "orbitronregular", sans-serif;
  line-height: calc(var(--button-height) - 15px);
  text-align: center;
  
}

.info_menu_container {
  position: absolute;
  margin-left: var(--sidebar_size);
  background-color: var(--fg);
  color: var(--primary);
  left: 40%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 51%;
  overflow: auto;
  height: 75%;
  z-index: 2;
  display: none;
  padding: 25px;
}

.info_menu > h3 {
  text-align: center;
}

#icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96px;
}

#song_title {
  font-size: 1.5rem;
  width: 600px;
  height: 120px;
  line-height: var(--header-height);
  font-family: "Orbitron", "Source Code Pro","Sans";
  margin-bottom: 0;
  padding-bottom: 0;
}


.tracks_row {
  display: flex;
  position: absolute;
  bottom: 15%;
  left: 25%;
}

.hud_main {
  position: absolute;
  top: 20%;
  right: 5%;
  align-items: center;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.hud_main > * {
  padding: 10px;
}


#tracklist {
  background-color: var(--secondary);
  color: var(--primary);
}


.switch_on { border-bottom: 2px solid var(--elem_bg_on); }
.switch_off { border-bottom: 2px solid var(--switch_bg_off); }


.back_home_figure {
  position: fixed;
  top: 70px;
  left: 50px;
  width: fit-content;
  width: 50px;
  }
  
  .back_home_figure:hover {
  cursor: crosshair;
  }
  
  .back_home_text {
  font-size: 0.75em;
  text-align: center;
  }

  .bt_download {
   width: calc(var(--button-width) /2);
   height: calc(var(--button-height) / 2);
   background-color: var(--primary);
   line-height: calc(var(--button-height) / 2);
  }

  #viz_container {
    position: absolute;
    width: calc(97vw - var(--sidebar_size));
    margin-left: calc(3vw + var(--sidebar_size));
    height: 500px !important;
    bottom: 20%;
  }

  
  .file_explorer {
    position: absolute;
    top: 15%;
    left: 15%;
  }

  .file, .folder {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    padding-block-start: 6px;
  }

  /*
  .file:before {
    content: '';
    width: var(--icon-dim);
    height: var(--icon-dim);
    display: inline-block;
    background-image: url("/HUD/mp3_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  */

  
#future_edge_left {
  position: absolute;
  
}

.tracklist_header {
  width: 130%;
} 


  .folder:before {
    content: '';
    width: var(--icon-dim);
    height: var(--icon-dim);
    display: inline-block;
    background-image: url("/HUD/folder_icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-inline-end: 15px;
  }

  .folder:hover {
    cursor: crosshair;
    background-color: var(--secondary);
  }

  .hidden {
    display: none;
  }

  .subfolder > * {
    margin-left: 5px;
  }

  .highlighted {
    background-color: var(--primary);
    color: var(--fg);
    cursor: crosshair;
    
  }

  .loading_screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }

  .abs_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.spinner {
  width: 84px;
  height: 56px;
}

.spinner::before, .spinner::after {
   content: '';
   border: 6.7px solid var(--primary);
   border-radius: 50%;
   display: block;
}

.spinner::before {
   width: 28px;
   height: 28px;
   animation: spinner-lsyq73 0.75s infinite linear reverse;
   border-left-color: transparent;
}

.spinner::after {
   width: 56px;
   height: 56px;
   animation: spinner-lsyq73 1.5s infinite linear;
   border-right-color: transparent;
}

@keyframes spinner-lsyq73 {
   to {
      transform: rotate(360deg);
   }
}


#audio_controls {
  position: fixed;
  bottom: 0;
  background-color: var(--bg);
  min-width: 100%;
  height: 50px;
  position: absolute;
  z-index: -1;
}


.labeled_container {
 display: flex;
 flex-direction: column;
 text-align: center;
 min-width: 300px;
}

input[type="range"] {
  -webkit-appearance: none;
  outline: var(--primary);
  appearance: none;
  height: 10px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 25px;
  border: 2px solid var(--primary);
  height: 15px;
  background-color: var(--primary)
  /*  slider progress trick  */
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 25px;
  background-color: var(--fg);
  border-radius: 50%;
  color: var(--primary);
  /*  slider progress trick  */
}


#audio_player {
  height: 200px;
}

#viz_canvas {
  height: 200px;
}


#wave_container {
  position: absolute;
  top: 20%;
  left: 35%;
  color: var(--primary);
  width: 600px;
  height: 200px;
}